<% form_for :content, @newTab.content, :url => { :action => :create_content, :id => @newTab.content } do |form| %>
	<%= form.hidden_field :lock_version %>
	<input id = "class" name = "class" type = "hidden" value = <%= @newTab.content.class %> />
	<p>Manufacturer: <%= form.text_field :manufacturer  %></p>
	<p>Title: <%= form.text_field :title  %></p>
	<p>Version: <%= form.text_field :version  %></p>
	<%= submit_tag %>
<% end %>